@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bird Horse Stats</h1>
    <p>A selection of horse related statistics and machine learning algorthms created by Greg Bird</p>
</div>