@model IEnumerable<BirdHorseStats.Models.SurvivalModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Results</title>
</head>
<body>
    <h2>Summary of Test Results</h2>
   
</body>
</html>